Frontend/Reunioes/Reunioes/Service References/webservice/Servicos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56123/Servicos.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://localhost:56123/Servicos.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/reunioes" />
  <xs:import schemaLocation="http://localhost:56123/Servicos.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="CadastraEndereco">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="Endereco" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastraEnderecoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/reunioes" minOccurs="0" name="CadastraEnderecoResult" nillable="true" type="q2:Retorno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastraFilial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/Message" name="Filial" type="q3:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastraFilialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/reunioes" minOccurs="0" name="CadastraFilialResult" nillable="true" type="q4:Retorno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastraSala">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/Message" name="Sala" type="q5:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastraSalaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/reunioes" minOccurs="0" name="CadastraSalaResult" nillable="true" type="q6:Retorno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastraResponsavel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/Message" name="Responsavel" type="q7:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastraResponsavelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/reunioes" minOccurs="0" name="CadastraResponsavelResult" nillable="true" type="q8:Retorno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastraReserva">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/Message" name="Reserva" type="q9:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastraReservaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/reunioes" minOccurs="0" name="CadastraReservaResult" nillable="true" type="q10:Retorno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApagaEndereco">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id_enderecoParam" type="q11:guid" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id_filialParam" type="q12:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApagaEnderecoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/reunioes" minOccurs="0" name="ApagaEnderecoResult" nillable="true" type="q13:Retorno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApagaFilial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id_filialParam" type="q14:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApagaFilialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/reunioes" minOccurs="0" name="ApagaFilialResult" nillable="true" type="q15:Retorno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApagaSala">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id_salaParam" type="q16:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApagaSalaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/reunioes" minOccurs="0" name="ApagaSalaResult" nillable="true" type="q17:Retorno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApagaResponsavel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id_responsavelParam" type="q18:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApagaResponsavelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/reunioes" minOccurs="0" name="ApagaResponsavelResult" nillable="true" type="q19:Retorno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApagaReserva">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id_reservaParam" type="q20:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApagaReservaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/reunioes" minOccurs="0" name="ApagaReservaResult" nillable="true" type="q21:Retorno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnderecos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id_enderecoParam" type="q22:guid" />
        <xs:element minOccurs="0" name="nm_cidadeParam" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nr_cepParam" type="xs:int" />
        <xs:element minOccurs="0" name="nm_estadoParam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnderecosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/reunioes" minOccurs="0" name="GetEnderecosResult" nillable="true" type="q23:ArrayOfEndereco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFiliais">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id_filialParam" type="q24:guid" />
        <xs:element minOccurs="0" name="nr_cnpjParam" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFiliaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/reunioes" minOccurs="0" name="GetFiliaisResult" nillable="true" type="q25:ArrayOfFilial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id_salaParam" type="q26:guid" />
        <xs:element minOccurs="0" name="nm_salaParam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/reunioes" minOccurs="0" name="GetSalasResult" nillable="true" type="q27:ArrayOfSala" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponsaveis">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id_ResponsavelParam" type="q28:guid" />
        <xs:element minOccurs="0" name="nr_cpfParam" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponsaveisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/reunioes" minOccurs="0" name="GetResponsaveisResult" nillable="true" type="q29:ArrayOfResponsavel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReservas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id_reservaParam" type="q30:guid" />
        <xs:element minOccurs="0" name="dt_inicioParam" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dt_fimParam" type="xs:dateTime" />
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id_salaParam" type="q31:guid" />
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id_filialParam" type="q32:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReservasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/reunioes" minOccurs="0" name="GetReservasResult" nillable="true" type="q33:ArrayOfReserva" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>